.img-bg{
  position: absolute;
  top: 276px;
  width: 70%;
}

.container{
  padding-bottom: 15px;
}

@media screen and (min-width: 990px) and (max-width: 1200px){
  .img-bg{
    top: 288px;
  }
}
@media screen and (max-width: 990px){
  .img-bg{
    top: 369px;
  }
}
